.create-form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='number'] {
    display: block;
    margin: 10vh auto;
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type='checkbox'] {
    margin-right: 5px;
  }
  
  input[type='submit'] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type='submit']:hover {
    background-color: #45a049;
  }
  